/__init__.pyc
/ops_testcase01_permissionmanage_permission.pyc
/ops_testcase01_permissionmanage_position.pyc
/ops_testcase02_layoutmanage_bigfunction.pyc
/ops_testcase02_layoutmanage_branchbanner.pyc
/ops_testcase02_layoutmanage_masterbanner.pyc
/ops_testcase02_layoutmanage_smallfunction.pyc
/ops_testcase03_distribution_addgoods.pyc
/ops_testcase03_distribution_editgoods.pyc
/ops_testcase03_distribution_query.pyc
/ops_testcase03_distribution_updown.pyc
/ops_testcase04_category_edittemplate_xijiafang.pyc
/ops_testcase04_category_edittemplate_xishechipin.pyc
/ops_testcase04_category_edittemplate_xixie.pyc
/ops_testcase04_category_edittemplate_xiyi.pyc
/ops_testcase04_category_substation.pyc
/ops_testcase04_categorymanage.pyc
/ops_testcase05_price_clothes.pyc
/ops_testcase05_price_hometextile.pyc
/ops_testcase05_price_shoes.pyc
/ops_testcase06_freight_feeapprove.pyc
/ops_testcase06_freight_substationapprove.pyc
/ops_testcase07_clothesmanage_brand.pyc
/ops_testcase07_clothesmanage_effect.pyc
/ops_testcase07_clothesmanage_endprice.pyc
/ops_testcase07_clothesmanage_historyprice.pyc
/ops_testcase07_clothesmanage_minor.pyc
/ops_testcase08_recharge_returncrash.pyc
/ops_testcase09_citymanage_areaadd.pyc
/ops_testcase09_citymanage_areaonoff.pyc
/ops_testcase09_citymanage_areauserdefine.pyc
/ops_testcase09_citymanage_onoff.pyc
/ops_testcase09_citymanage_queryadd.pyc
/ops_testcase10_couponmanage.pyc
/ops_testcase11_marketingtools_sendsms.pyc
/ops_testcase11_marketingtools_sendyouhuiquan.pyc
/appobjectops.pyc
/ops_testcase02_mapsetting_subcitymapsetting.pyc
